/* App_darkly.css */
@import url('https://fonts.googleapis.com/css?family=Exo');

@keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.content{
    padding-top: 60px;
}

.welcome {
  text-align: center;
}

.welcome img.logo{
    margin: 10px auto;
}

.glyph-loading {
  animation: loading-spin infinite 2s linear;
}

/****************************/
/*   Icons                  */
/****************************/
img.icon{
    margin-right: 5px;
    display: inline-block;
}

img.icon-32{
   max-width:  32px;
   max-height: 32px;
}

img.icon-48{
   max-width:  48px;
   max-height: 48px;
}

img.icon-64{
   max-width:  64px;
   max-height: 64px;
}

img.icon-96{
   max-width:  96px;
   max-height: 96px;
}

img.icon-128{
   max-width:  128px;
   max-height: 128px;
}

/****************************/
/*   Section Header         */
/****************************/
.header-row{
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-row .glyphicon{
    padding-right: 5px;
}

.header-row .filter .form-group{
  margin-bottom: 0px;
}

/****************************/
/*   Prev/Next Pager        */
/****************************/
.pager-lg{
    padding: 10px 16px;
}

.pager .next>a,
.pager .previous>a{
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 30px;
}

/*****************************/
/*   Campaigns               */
/*****************************/
.label-share-code{
  font-size: 1.5em !important;
}

.label-core    { background-color: #2a6bcb; }
.label-btg     { background-color: #9b479f; }
.label-inferno { background-color: #d9391f; }
.label-pets    { background-color: #57aa29; }

.aq-tabs li{
  font-size: 26px;
}

#guilds.tab-pane{
    margin-top: 10px;
}

.campaign-grid{
    margin-bottom: 10px;
}

.campaign-log-controls button{
    margin-right: 10px;
    margin-bottom: 10px;
}

.campaign-edit-buttons button{
    margin-bottom: 10px;
}

.campaign-generic{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 10px;
    background-color: #303030;
    border-radius: 5px;
}


/* Campaign Log Tab */
  .campaign-log,
  .campaign-log th{
    text-align: center;
  }
  
  .campaign-log tbody>tr>td{
    vertical-align: middle;
  }
  
  table.campaign-log .scenario,
  table.campaign-log-small .scenario {
    font-weight: bold;
    line-height: 2.2;
  }
  
  .campaign-log-small{
    text-align: left;
  }
  
  .campaign-log-small .location{
    font-size: 1.5em;
    line-height: 1;
  }

/* Campaign Scenario Colors */
  /* Core */
  .campaign-log .core-1{ background-color: #dd5923; }
  .campaign-log .core-2{ background-color: #be2e25; }
  .campaign-log .core-3{ background-color: #432e76; }
  .campaign-log .core-4{ background-color: #432e76; }
  
  /* Beyond The Grave */
  .campaign-log .beyondthegrave-1{ background-color: #577dab; }
  .campaign-log .beyondthegrave-2{ background-color: #6f3871; }
  .campaign-log .beyondthegrave-3{ background-color: #37317a; }
  .campaign-log .beyondthegrave-4{ background-color: #37317a; }
  
  /* Inferno */
  .campaign-log .inferno-1{ background-color: #f4814e; }
  .campaign-log .inferno-2{ background-color: #e94054; }
  .campaign-log .inferno-3{ background-color: #977cad; }
  .campaign-log .inferno-4{ background-color: #612a53; }
  .campaign-log .inferno-5{ background-color: #333333; }
  
  /* Pets */
  .campaign-log .pets-1{ background-color: #eca203; }
  .campaign-log .pets-2{ background-color: #e87924; }
  .campaign-log .pets-3{ background-color: #ed706b; }
  .campaign-log .pets-4{ background-color: #e63031; }
  .campaign-log .pets-5{ background-color: #74306f; }
  .campaign-log .pets-6{ background-color: #243b7c; }
  
  /* Medals */
  tr.medal             { background-color: #806520; } 
  td.medal, th.medal   { background-color: #DAA520; }


/* Campaign Guilds Tab */
  .campaign-guild{
    margin: 5px;
    padding: 5px;
    border: 3px solid #ccc;
    text-align: center;
    border-radius: 5px;
  }
  
  .campaign-guild .guild-name{
    font-weight: bold;
    font-size: 20px;
  }
  
  /* CampaignHero/Pet Components */
  .row.hero-row{
    margin-bottom: 10px;
  }
  
  .hero-row table.hero-info {
    text-align: center;
    width: 99%;
  }
  
  table.hero-info th{
    text-align: center;
    background-color: #CCCCCC;
  }

  .item-table{
    text-align: left;
  }
  
  /* Guild Colors */
  
  /* Lion */
  .campaign-guild-Lion   { border: 3px solid #de6b39; }
  .campaign-guild-Lion th.hero-name{
    background-color: #de6b39;
  }
  .campaign-guild-Lion .item-table, 
  .campaign-guild-Lion .item-table td,
  .campaign-guild-Lion .item-table th{
    border-color: #de6b39;
  }
  
  /* Panda */
  .campaign-guild-Panda  { border: 3px solid #4c8849; }
  .campaign-guild-Panda .hero-row .hero-name{
    background-color: #2aa836;
  }
  .campaign-guild-Panda .item-table, 
  .campaign-guild-Panda .item-table td,
  .campaign-guild-Panda .item-table th{
    border-color: #2aa836;
  }
  
  /* Eagle */
  .campaign-guild-Eagle  { border: 3px solid #005374; }
  .campaign-guild-Eagle .hero-row .hero-name{
    background-color: #005374;
  }
  .campaign-guild-Eagle .item-table, 
  .campaign-guild-Eagle .item-table td,
  .campaign-guild-Eagle .item-table th{
    border-color: #005374;
  }
  
  /* Fox */
  .campaign-guild-Fox    { border: 3px solid #c24130; }
  .campaign-guild-Fox .hero-row .hero-name{
    background-color: #c24130;
  }
  .campaign-guild-Fox .item-table, 
  .campaign-guild-Fox .item-table td,
  .campaign-guild-Fox .item-table th{
    border-color: #c24130;
  }
  
  /* Tiger */
  .campaign-guild-Tiger  { border: 3px solid #ffd25d; }
  .campaign-guild-Tiger .hero-row .hero-name{
    background-color: #ffd25d;
  }
  .campaign-guild-Tiger .item-table, 
  .campaign-guild-Tiger .item-table td,
  .campaign-guild-Tiger .item-table th{
    border-color: #ffd25d;
  }
  
  /* Crow */
  .campaign-guild-Crow   { border: 3px solid #75777a; }
  .campaign-guild-Crow .hero-row .hero-name{
    background-color: #75777a;
  }
  .campaign-guild-Crow .item-table, 
  .campaign-guild-Crow .item-table td,
  .campaign-guild-Crow .item-table th{
    border-color: #75777a;
  }
  
  /* Serpent */
  .campaign-guild-Serpent{ border: 3px solid #5d2d88; }
  .campaign-guild-Serpent .hero-row .hero-name{
    background-color: #5d2d88;
  }
  .campaign-guild-Serpent .item-table, 
  .campaign-guild-Serpent .item-table td,
  .campaign-guild-Serpent .item-table th{
    border-color: #5d2d88;
  }
  
  /* Shark */
  .campaign-guild-Shark  { border: 3px solid #00a3ac; }
  .campaign-guild-Shark .hero-row .hero-name{
    background-color: #00a3ac;
  }
  .campaign-guild-Shark .item-table, 
  .campaign-guild-Shark .item-table td,
  .campaign-guild-Shark .item-table th{
    border-color: #00a3ac;
  }


/*****************************/
/*   Guilds                  */
/*****************************/

div.guild-info h2{
    margin-top: 20px;
}

.guild-hero-curses th{
    text-align:  center;
    background-color: #464545;
    color: #FFF;
    border: 1px solid #464545 !important;
}

.guild-hero-items th{
    text-align:  center;
    background-color: #5cb85c;
    color: #FFF;
    border: 1px solid #4cae4c !important;
}

.guild-logo-coin{
  position: relative;
  display: inline-block;
}

img.guild-has-coin{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.guild-coin-xs{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
  

.text-linked-campaign{
  color: #f39c12;
  font-size: 26px;
}

/* Edit Guild */
  .guild-controls{
      margin-top: 20px;
  }
  
  div.guild-info-edit .btn-leave-campaign{
      margin-top: 25px;
  }
  
  .guild-hero-section{
    margin-top: 10px;
  }
  
  .guild-hero-section > div:nth-child(odd){
      background-color: #303030;
  }
  
  .guild-hero-info{
      padding-top: 15px;
      padding-bottom: 15px;
  }
  
  div.guild-hero-info .hero-item-list .form-group,
  div.guild-hero-info .hero-curse-list .form-group{
    margin-bottom: 2px;
  }

  /* Guild Dropdown Icon */
  .guild-icon-addon{
      padding: 0px 3px !important;
      background-color: #FFFFFF !important;
  }
  
  .guild-icon-addon img{
      max-width:  32px;
      max-height: 32px;
      display: inline-block;
  }
  
  
  /* Curse Button */
  .btn-curse {
      color: #ffffff;
      background-color: #464545;
      border-color: #464545;
  }
  
  .btn-curse:focus,
  .btn-curse.focus {
    color: #ffffff;
    background-color: #2c2c2c;
    border-color: #060606;
  }
  .btn-curse:hover {
    color: #ffffff;
    background-color: #2c2c2c;
    border-color: #272727;
  }
  .btn-curse:active,
  .btn-curse.active,
  .open > .dropdown-toggle.btn-curse {
    color: #ffffff;
    background-color: #2c2c2c;
    border-color: #272727;
  }

/*****************************/
/*   Heroes/Pets             */
/*****************************/
.hero-detail{ margin-bottom: 10px; }
.icons .hero-def  { color: #d75e00; }
.icons .hero-hp   { color: #3b2f5e; }

/* Hero Panel */
.panel-hero .panel-heading{
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
}

.panel-hero .panel-body{
    padding: 10px;
}

.panel-hero table.hero-info{
    width: 100%;
}

.panel-hero table.hero-info .effect{
    vertical-align: top;
    text-align: center;
}

.panel-hero table.hero-info td.portrait-cell{
    width: 80px;
    vertical-align: top;
    text-align: center;
    height: 170px;
}

td.portrait-cell .portrait{
    margin: 0px auto 10px auto;
}


/*****************************/
/*   Items                   */
/*****************************/

table.items div.icons{
    position: relative;
    display: inline-block;
}

table.items .class-type{
    font-weight: bold;
}

.plus{
    font-size: 0.7em;
}

div.icons{
    position: relative;
    display: inline-block;
}

div.item-description{
  padding-left: 10px;
}

div.item-description .icons{
    margin-right: 10px;
}

.items-panel-title{
    font-size: 1.2em;
}

.items-panel-body{
    padding: 5px 15px;
}

div.icons>span{
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  position: absolute;
  bottom: -10px;
  left: 0px;
  font-weight: bold;
  font-size: 24px;
  -webkit-text-stroke: 1px white;
}

div.icons .item-price{ color: #1e95d1; }
div.icons .item-atk  { color: #FF0000; }
div.icons .item-hp   { color: #FF0000; left: -10px;}
div.icons .item-def  { color: #e79403; left: -10px;}
div.icons .item-roll { color: #4db700; left: -10px;}

/*****************************/
/*   Profile                 */
/*****************************/
div.profile-edit-buttons button{
    margin: 5px;
}

.top-pad-col{
    padding-top: 20px;
}

table.friends-list{
    margin-top: 10px;
}


/*****************************/
/*   Mobile Small            */
/*****************************/
@media (max-device-width: 480px) {
  
  img.icon-fat-64{
    max-width:  64px;
    max-height: 64px;
  }
  
  img.icon-fat-128{
    max-width:  128px;
    max-height: 128px;
  }

  .text-center-xs{
    text-align: center;
  }
  
  .navbar-lg li{
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .navbar-fixed-top .navbar-collapse {
    max-height: 400px;
  }
  
  /* Fat Forms */
  .form-group-fat .form-control,
  .input-group-fat>.form-control, 
  .input-group-fat>.input-group-addon, 
  .input-group-fat>.input-group-btn>.btn {
    height: 66px;
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  
  .input-group-fat>.input-group-addon:last-child {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .input-group-btn:last-child>.btn-fat {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .input-group-fat>.input-group-btn:first-child>.btn {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  select.input-fat {
    font-size: 19px;
    height: 66px;
    line-height: 66px;
  }
  
  button.btn-fat,
  a.btn-fat{
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  
  /*****************************/
  /*   Campaigns               */
  /*****************************/
  table.campaigns-small,
  table.guilds-small {
    font-size: 1.2em;
  }
  div.campaign-generic{
    font-size: 1.2em;
  }
    
  /*****************************/
  /*   Guilds                  */
  /*****************************/
  .panel-hero table.hero-info .effect{
    font-size: 1.5em;
    padding: 0px 5px;
  }
  
  /* Edit Guild */
  table.guild-hero-info td.effect{
    font-size: 1.5em;
  } 
  
  table.guild-hero-info th{
    font-size: 2em;
  }
  
  .btn-leave-campaign{
    margin-bottom: 10px;
  }
  
  .guild-edit-buttons, .profile-edit-buttons {
    text-align: center;
  }
  
  .guild-edit-buttons .btn,
  .profile-edit-buttons .btn{
    margin-bottom: 10px;
  }
  
  .input-group-fat .guild-icon-addon img{
    max-width:  48px;
    max-height: 48px;
    display: inline-block;
  }
  
  .guild-controls .btn-fat,
  .guild-controls .input-fat{
    margin-bottom: 20px;
  }
  
  /*****************************/
  /*   Profile                 */
  /*****************************/
  .friends-list{
    font-size: 1.5em;
  }

}
