extends layout

block content
  .row
    .col-md-12.col-xs-12
      h1
        img(src= "/img/logo-arcadia-quest.png").img-responsive.guild-name-icon
        | #{campaign.name} 
        small #{campaign.description}
  .row
    each guild in campaign.guilds
      include partials/campaign-guild