extends layout

block content
  .row
    .col-md-12
    
      h2 Campaigns
      
      table.table.table-striped.table-bordered
        thead
          tr
            th Title
            th Description
            th Created
            th View
        tbody
          each campaign in campaigns
            tr
              td #{campaign.name}
              td #{campaign.description}
              td #{campaign.createdAt}
              td 
                a(href= "/campaigns/" + campaign._id): span.glyphicon.glyphicon-search