extends layout

block content
  .row
    .col-md-10
      h2 Guilds
    .col-md-2
      button.btn.btn-primary.pull-right.create-guild(data-toggle="modal", data-target="#modalCreateGuild") Create
      a.btn.btn-primary.pull-right.create-guild(href="/guilds/create") Create2
  .row
    .col-md-12
      table.table.table-striped.table-bordered
        thead
          tr
            th Title
            th.hidden-xs Description
            th.hidden-xs Created
            th View
        tbody
          each guild in guilds
            - var imgName = "/img/" + String(guild.type).toLowerCase() + ".png";
            tr
              td 
                img(src= imgName).img-responsive.guild-name-icon-32
                | #{guild.name}
              td.hidden-xs #{guild.description}
              td.hidden-xs #{guild.createdAt}
              td 
                a(href= "/guilds/" + guild._id): span.glyphicon.glyphicon-search
                
  include modals/guild-create