extends layout

block content
  .row
    .col-md-12.welcome
      h1 Welcome to the Arcadia Quest Guild Manager
      // h2 #{msg}
      img(src="/img/logo-arcadia-quest.png").img-responsive.center-block
  .row
    .col-md-6
      img(src="/img/Campaign-Sheet-map.png").img-responsive.pull-right
    .col-md-6
      img(src="/img/Campaign-Sheet-grid.png").img-responsive.pull-left
    