doctype html
html(lang="en")
  head
    title AQ Guild Manager
    include partials/head
  body
    div.wrap
      include partials/navigation
      .container
        block content
    include partials/footer