html,
body {
    height: 100%;
}

div.wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}


.footer{
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    width: 100%;
}

div.welcome{
    text-align: center;
}

div.hero-detail{
    /*border: 1px solid #ddd;*/
    margin-bottom: 10px;
}

div.item-detail{
    margin-bottom: 10px;
    font-size: 0.75em;
    font-weight: bold;
}

img.guild-name-icon{
   max-width:  64px;
   max-height: 64px;
   display: inline-block;
}

.created-at{
   position: absolute;
   bottom: 0;
}