html,
body {
    height: 100%;
}

div.wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}


.footer{
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    width: 100%;
}

div.welcome{
    text-align: center;
}

div.hero-detail{
    /*border: 1px solid #ddd;*/
    margin-bottom: 10px;
}

div.item-detail{
    margin-bottom: 10px;
    font-size: 0.75em;
    font-weight: bold;
}

img.guild-name-icon{
   max-width:  64px;
   max-height: 64px;
   display: inline-block;
}

img.guild-name-icon-32{
   max-width:  32px;
   max-height: 32px;
   display: inline-block;
}

img.guild-name-icon-48{
   max-width:  48px;
   max-height: 48px;
   display: inline-block;
}

img.campaign-name-icon{
   max-width:  64px;
   max-height: 64px;
   display: inline-block;
}

.create-guild{
    margin-top: 20px; 
    margin-bottom: 10px;
    margin-left: 5px;
}

.created-at{
   position: absolute;
   bottom: 0;
}

div.campaign-grid {
    position: relative;
}

div.campaign-grid > .guild-name{
    border: 1px solid red;
    position: absolute;
    top: 10px;
    left: 50px;
}

div.campaign-grid img {
    margin: 10px auto;
}

.campaign-guild{
    margin: 5px;
    padding: 5px;
    border: 3px solid #ccc;
    text-align: center;
}

.campaign-guild-Lion{
    border: 3px solid #e07023;
}

.campaign-guild-Panda{
    border: 3px solid #2b722b;
}


div.campaign-guild-name{
    font-weight: bold;
    font-size: 20px;
    display: block;
}

div.campaign-guild-user{
    display: block;
}

.campaign-guild .hero{
    margin-bottom: 5px;
    border: 1px solid #CCC;
}

.hero-name{
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.item-name{
    padding: 5px;
    text-align: center;
}

.border-red{
    border: 1px solid red;
}

.border-blue{
    border: 1px solid blue;
}

.border-grey{
    border: 1px solid #CCC;
}

.border-green{
    border: 1px solid lightgreen;
}

.lion{
    border-bottom: 5px solid #D66B3D;
}

.panda{
    border-bottom: 5px solid #62954C;
}

.hero-name-Lion{
    background-color: #f9b557;
    color: white;
}

.hero-name-Panda{
    background-color: #2aa836;
    color: white;
}

.hero-name-Eagle{
    background-color: #3d89c1;
    color: white;
}

.hero-name-Fox{
    background-color: #cd3164;
    color: white;
}

.campaign-guild .item-table th{
    color: white;
    text-align: center;
}

.item-table .item-number{
    width: 50px;
    text-align: right;
}