- var imgName = "/img/" + String(guild.type).toLowerCase() + ".png";

.col-md-3.campaign-guild(class="campaign-guild-"+guild.type)
  .row
    .col-md-3
      img(src= imgName, style="margin: 0px auto;").img-responsive
    .col-md-9
      .campaign-guild-name #{guild.name}
      .campaign-guild-user #{guild.user_id.name}
  each hero in guild.heroes
      include campaign-guild-hero